<a href="https://colab.research.google.com/github/HUSSAIN7860/Python_EyTraining/blob/main/DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python DataStructure : LIST , TUPLE , DICTIONARY , SET

### LIST
  * Lists are used to store multiple items in a single variable

  * List items are ordered, changeable, and allow duplicate values.

  * List items are indexed, the first item has index [0], the second item has    index [1] etc.

In [22]:
# list
l = ['apple',1,3,'orange',4.0,True ]
l

['apple', 1, 3, 'orange', 4.0, True]

In [23]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
# Adding element at the last
l.append('mango')

In [21]:
#The clear() method empties the list.
#The list still remains, but it has no content.
#l.clear()
#l

[]

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [25]:
# copy 
l1 = l.copy()
l1

['apple', 1, 3, 'orange', 4.0, True, 'mango']

count() is used to count the element in the list

In [27]:
l1.count(3)

1

To append elements from another list to the current list, use the extend() method.

In [28]:
l.extend(l1)
l

List items are indexed and you can access them by referring to the index number:

In [30]:
l[2:4]

[3, 'orange']

In [33]:
# this returs the index of the element
l.index(3)

2

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [35]:
# insert is used for inserting the element in the list
l.insert(1,25)
l

['apple',
 25,
 1,
 3,
 'orange',
 4.0,
 True,
 'mango',
 'apple',
 1,
 3,
 'orange',
 4.0,
 True,
 'mango']

In [36]:
# pop() method is used for removing the last element in the list 
l2=l.pop()
l2

'mango'

In [37]:
# remove() method is used for removing the specific element in the list
l1.remove('apple')
l1

[1, 3, 'orange', 4.0, True, 'mango']

In [38]:
# reversing the element in the list 
l1.reverse()
l1

['mango', True, 4.0, 'orange', 3, 1]

In [42]:
# used for sorting 
l1 = [3,4,2,4,6,2,1]
l1.sort()

In [43]:
l1

[1, 2, 2, 3, 4, 4, 6]

### Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [45]:
t = ()
type(t)

tuple

In [46]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [47]:
t = ("apple", "banana", "cherry", "apple", "cherry")

In [48]:
# Count() is used for counting the element of the tuple
t.count('apple')

2

In [49]:
# index() is used for accessing the element
t[2]

'cherry'

### Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

In [50]:
d = {}
type(d)

dict

In [51]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [76]:
d = {
  "brand": "Kia",
  "model": "Seltos",
  "year": 2021
}

In [55]:
# used for copy the dictionary
d1 = d.copy()
d1

{'brand': 'Kia', 'model': 'Seltos', 'year': 2021}

In [56]:
# The clear() method empties the Dictionary.
#The Dictionary still remains, but it has no content.
d1.clear()
d1

{}

The fromkeys() method returns a dictionary with the specified keys and the specified value.

In [60]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)
thisdict

{'key1': 0, 'key2': 0, 'key3': 0}

In [61]:
# get() is used for gives you the output take key as input
d.get('model')

'Seltos'

* A view object that displays a list of a given dictionary’s (key, value) tuple pair.

In [69]:
# items()
d.items()

dict_items([('brand', 'Kia'), ('model', 'Seltos'), ('year', 2021)])

In [71]:
# return the keys of the dictionary
d.keys()

dict_keys(['brand', 'model', 'year'])

In [77]:
# used for pop the values of the key which is passed 

d5 = d.pop('year')
d5
d

{'brand': 'Kia', 'model': 'Seltos'}

In [78]:
d5

2021

In [79]:
# The popitem() method removes the item that was last inserted into the dictionary
d.popitem()

('model', 'Seltos')

In [80]:
d

{'brand': 'Kia'}

* setdefault() returns the value of a key (if the key is in dictionary). Else, it inserts a key with the default value to the dictionary.

In [82]:

d0 = {'a': 97, 'b': 98, 'c': 99, 'd': 100}
# space key added using setdefault() method
d0.setdefault(' ', 32)
print(d0)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, ' ': 32}

* The update() method inserts the specified items to the dictionary.

* The specified items can be a dictionary, or an iterable object with key value pairs.

In [85]:
d0.update({'a':22})
d0

{'a': 22, 'b': 98, 'c': 99, 'd': 100, ' ': 32}

In [87]:
# returns the value of the dictionary
d0.values()

dict_values([22, 98, 99, 100, 32])

### Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [88]:
s = {1,2,3}
type(s)

set

In [90]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [93]:
# Used for  adding the element in the set
s1 = {2,3,4,4}
s.add(100)
s

{1, 2, 3, 100}

In [94]:
# used for copy
s1 =s.copy()
s1

{1, 2, 3, 100}

In [95]:
# used for clear all the element 
s1.clear()
s1

set()

* The difference between the two sets in Python is equal to the difference between the number of elements in two sets.

In [98]:
s1 = {2,3,4,11}
s.difference(s1)

{1, 100}

* The difference_update() method removes the items that exist in both sets.

* The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

In [99]:
s.difference_update(s1)
s

{1, 100}

* The discard() method removes the specified item from the set.

* This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [101]:
s = {1,3,4,12,34,4,2,1,3,100}
s.discard(101)
s

{1, 2, 3, 4, 12, 34, 100}

In [102]:
# return the intersection between the sets
s.intersection(s1)

{2, 3, 4}

In [103]:
# this takes intersection and update the set
s.intersection_update(s1)

In [106]:
# check whether the set is disjoint or not 
s.isdisjoint(s1)

False

In [107]:
# check the set : subset or not 
s.issubset(s1)

True

In [108]:
# check the superset of the set
s.issuperset(s1)

False

In [110]:
# used for remove the element in the set
s.pop()

2

In [112]:
# remove can remove the particular element form the set
s.remove(4)
s

{3}

In [ ]:
'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

*  symmetric_difference() Method is used to get the elements present in either of the two sets, but not common to both the sets.

In [114]:
s1 = {2,3,4,11}
s = {1,3,4,12,34,4,2,1,3,100}
s.symmetric_difference(s1)
s

{1, 2, 3, 4, 12, 34, 100}

* It only updates the set calling symmetric_difference_update() with the symmetric difference of sets.

In [117]:
s.symmetric_difference_update(s1)
s

{1, 11, 12, 34, 100}

In [118]:
# union between the sets 
s.union(s1)
s

{1, 11, 12, 34, 100}

* Update() method takes only a single argument. The single argument can be a set, list, tuples or a dictionary. It automatically converts into a set and adds to the set.

In [121]:
# update
s.update(s1)
s

{1, 2, 3, 4, 11, 12, 34, 100}