### 1. Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [46]:
# %%writefile 1.py
for i in range(1 , 11):
  print(f'Sum of the Current and the Previous Number is { i + i-1}')

Sum of the Current and the Previous Number is 1
Sum of the Current and the Previous Number is 3
Sum of the Current and the Previous Number is 5
Sum of the Current and the Previous Number is 7
Sum of the Current and the Previous Number is 9
Sum of the Current and the Previous Number is 11
Sum of the Current and the Previous Number is 13
Sum of the Current and the Previous Number is 15
Sum of the Current and the Previous Number is 17
Sum of the Current and the Previous Number is 19

### 2. Write a program to accept a string from the user and display characters that are present at an even index number.

In [47]:
# %%writefile 2.py
string =input('Enter the string here :')
s = ''
for i in range(len(string)):
  if i%2==0:
    pass
  else:
    s += string[i]
print(s)

Enter the string here :ishtiyaque
styqe

### 3. Iterate the given list of numbers and print only those numbers which are divisible by 5

In [48]:
# %%writefile 3.py
l = [2,3,5,2,10,4,56,100]
for i in range(len(l)):
  if l[i]% 5 == 0:
    print(f'the Number {l[i]} is divisible by 5')

the Number 5 is divisible by 5
the Number 10 is divisible by 5
the Number 100 is divisible by 5

### 4. Write a program to check if the given number is a palindrome number.

In [49]:
# %%writefile 4.py
# An integer is a palindrome when it reads the same backward as forward.
n = input('enter the number here :')
if n == n[::-1]:
  print('Numbers is Palindrome')
else:
  print('Not a Palindrome Number')

enter the number here :12321
Numbers is Palindrome

### 5. Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [50]:
# %%writefile 5.py
l =[1,2,3,4,5]
l1 = [4,5,7,8,9]
new_l = []
for i in l:
  if i%2 != 0:
    new_l.append(i)
for j in l1 :
  if j%2 == 0:
    new_l.append(j)


print(new_l)

[1, 3, 5, 4, 8]

### 6. Write a Program to extract each digit from an integer in the reverse order.

In [51]:
# %%writefile 6.py
n = int(input('enter the number here :'))
while(n != 0):
  p = n%10
  n = n//10
  print(p , end = '')

enter the number here :123
321

### 7. Print multiplication table form 1 to 10

In [52]:
# %%writefile 7.py
for i in range(1 , 11):
  for j in range(1 , 11):
    print(f' {i} * {j} = {i*j}')
  print(sep = '\t')

 1 * 1 = 1
 1 * 2 = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10

 2 * 1 = 2
 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20

 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30

 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60

 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 7 * 10 = 70

 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
 8 * 10 = 80

 9 * 1 = 9
 9 * 2 = 18
 9 * 3 = 27
 9 * 4 = 36
 9 * 5 = 45
 9 * 6 = 54
 9 * 7 = 63
 9 * 8 = 72
 9 * 9 = 81
 9 * 10 = 90

 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100

### 8. Write a program to print downward Half-Pyramid Pattern with Star (asterisk)

In [53]:
# %%writefile 8.py
for i in range(5):
  for j in range(5):
    if j >= i :
      print("*" ,end = '')
    else:
      pass
  print("\r") # end line after each row

*****
****
***
**
*