<a href="https://colab.research.google.com/github/HUSSAIN7860/Python_EyTraining/blob/main/Exercise_2_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Write a program to take three names as input from a user in the single input() function call.

In [ ]:
t = input("Enter the three name here with space seprated :")
name = t.split(' ')
print(name)

Enter the three name here with space seprated :md ishtiyaque hussain
['md', 'ishtiyaque', 'hussain']

### 2. Write a program to print the following number pattern using a loop. 

	1  

	1 2 

	1 2 3 

  1 2 3 4 

	1 2 3 4 5

In [ ]:
for i in range( 1,6):
  for j in range(1,6):
    if i>= j:
      print(j, end = '')
  print('\t')

1
12
123
1234
12345

### 3. Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

In [ ]:
n = int(input(" enter the number here :"))
sum = 0
for i in range(n+1):
  sum += i

print(sum)

 enter the number here :5
15

### 4. Print list in reverse order using a loop

In [ ]:
l =[ 1,3 ,4,5,6]
for i in range(len(l)+1 , 0, -1):
  print(i , end =' ')

6 5 4 3 2 1

### 5. Write a program to display all prime numbers within a range

In [ ]:
n = int(input('Enter the number here :'))
for i in range(2 , n):
  for j in range(2 , i):
    if i % j == 0:
      break
  else:
    print(f'the number {i} is prime ')

Enter the number here :10
the number 2 is prime
the number 3 is prime
the number 5 is prime
the number 7 is prime

### 6. Find the factorial of a given number without using math module

In [ ]:
fact = int(input(" Enter the number here :"))
sum = 1
if fact == 0 or fact == 1:
  print(1)
else:
  for i in range(1,fact+1):
    sum = sum*i
print(sum)

 Enter the number here :5
120

### 7. Print the following pattern 

	* 

	* *  

	* * * 

	* * * * 

	* * * * * 

	* * * * 

	* * * 

	* * 

	*

In [50]:
for i in range (0, 5):
    for j in range(0, i + 1):
        print("* ", end='')
    print("\r")
for i in range (5, 0, -1):
    for j in range(0, i -1):
        print("* ", end='')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*