<a href="https://colab.research.google.com/github/HUSSAIN7860/Python_EyTraining/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 48 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 51.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=1b16864f756457cca9feb4c58156d372c0f95517ce6c02bea8bf5ed6c360a465
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
import pyspark
import pandas as pd

In [5]:
url ='https://raw.githubusercontent.com/a-forty-two/DFE6/main/titanic.csv'
data = pd.read_csv(url)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
from pyspark.sql import SparkSession # entry point for spark

In [8]:
spark = SparkSession.builder.appName('Practise').getOrCreate() # object of the spark session

In [9]:
spark

In [20]:
df_spark = spark.read.option('header','true').csv('grades.csv',inferSchema=True) # command for read the csv file using spark

In [21]:
df_spark.head()

Row(Last name='Alfalfa',  "First name"='   "Aloysius"',  "SSN"='   "123-45-6789"',         "Test1"=' 40.0',  "Test2"=90.0,  "Test3"=100.0,  "Test4"=83.0,  "Final"='    49.0',  "Grade"='   "D-"')

In [22]:
df_spark.show()

+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+
|Last name|    "First name"|               "SSN"|        "Test1"| "Test2"| "Test3"| "Test4"| "Final"| "Grade"|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+
|  Alfalfa|      "Aloysius"|       "123-45-6789"|           40.0|    90.0|   100.0|    83.0|    49.0|    "D-"|
|   Alfred|    "University"|       "123-12-1234"|           41.0|    97.0|    96.0|    97.0|    48.0|    "D+"|
|    Gerty|        "Gramma"|       "567-89-0123"|           41.0|    80.0|    60.0|    40.0|    44.0|     "C"|
|  Android|      "Electric"|       "087-65-4321"|           42.0|    23.0|    36.0|    45.0|    47.0|    "B-"|
|  Bumpkin|          "Fred"|       "456-78-9012"|           43.0|    78.0|    88.0|    77.0|    45.0|    "A-"|
|   Rubble|         "Betty"|       "234-56-7890"|           44.0|    90.0|    80.0|    90.0|    46.0|    "C-"|
|   Noshow|         "Cecil"|       "345-67-8901"|           45.0|    11.0|    -1.0|     4.0|    43.0|     "F"|
|     Buff|           "Bif"|        "632-79-9...|           46.0|    20.0|    30.0|    40.0|    50.0|    "B+"|
|  Airpump|        "Andrew"|       "223-45-6789"|  49.0      1.0|    90.0|   100.0|    83.0|     "A"|    null|
|   Backus|           "Jim"|        "143-12-1...|           48.0|     1.0|    97.0|    96.0|    97.0|    "A+"|
|Carnivore|           "Art"|        "565-89-0...|           44.0|     1.0|    80.0|    60.0|    40.0|    "D+"|
|    Dandy|           "Jim"|        "087-75-4...|           47.0|     1.0|    23.0|    36.0|    45.0|    "C+"|
| Elephant|           "Ima"|        "456-71-9...|           45.0|     1.0|    78.0|    88.0|    77.0|    "B-"|
| Franklin|         "Benny"|       "234-56-2890"|           50.0|     1.0|    90.0|    80.0|    90.0|    "B-"|
|   George|           "Boy"|        "345-67-3...|           40.0|     1.0|    11.0|    -1.0|     4.0|     "B"|
|Heffalump|        "Harvey"|       "632-79-9439"|           30.0|     1.0|    20.0|    30.0|    40.0|     "C"|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+

In [23]:
df_spark.head(3)

[Row(Last name='Alfalfa',  "First name"='   "Aloysius"',  "SSN"='   "123-45-6789"',         "Test1"=' 40.0',  "Test2"=90.0,  "Test3"=100.0,  "Test4"=83.0,  "Final"='    49.0',  "Grade"='   "D-"'),
 Row(Last name='Alfred',  "First name"='    "University"',  "SSN"=' "123-12-1234"',         "Test1"=' 41.0',  "Test2"=97.0,  "Test3"=96.0,  "Test4"=97.0,  "Final"='    48.0',  "Grade"='   "D+"'),
 Row(Last name='Gerty',  "First name"='     "Gramma"',  "SSN"='     "567-89-0123"',         "Test1"=' 41.0',  "Test2"=80.0,  "Test3"=60.0,  "Test4"=40.0,  "Final"='    44.0',  "Grade"='   "C"')]

In [24]:
df_spark.tail(2)

[Row(Last name='George',  "First name"='    "Boy"',  "SSN"='        "345-67-3901"',         "Test1"=' 40.0',  "Test2"=1.0,  "Test3"=11.0,  "Test4"=-1.0,  "Final"='     4.0',  "Grade"='   "B"'),
 Row(Last name='Heffalump',  "First name"=' "Harvey"',  "SSN"='     "632-79-9439"',         "Test1"=' 30.0',  "Test2"=1.0,  "Test3"=20.0,  "Test4"=30.0,  "Final"='    40.0',  "Grade"='   "C"')]

In [30]:
df_spark.select(["Last name" ]).show() # working like sql (select statement)

+---------+
|Last name|
+---------+
|  Alfalfa|
|   Alfred|
|    Gerty|
|  Android|
|  Bumpkin|
|   Rubble|
|   Noshow|
|     Buff|
|  Airpump|
|   Backus|
|Carnivore|
|    Dandy|
| Elephant|
| Franklin|
|   George|
|Heffalump|
+---------+

In [31]:
df_spark.printSchema()

root
 |-- Last name: string (nullable = true)
 |--  "First name": string (nullable = true)
 |--  "SSN": string (nullable = true)
 |--         "Test1": string (nullable = true)
 |--  "Test2": double (nullable = true)
 |--  "Test3": double (nullable = true)
 |--  "Test4": double (nullable = true)
 |--  "Final": string (nullable = true)
 |--  "Grade": string (nullable = true)

In [32]:
df_spark.dtypes

[('Last name', 'string'),
 (' "First name"', 'string'),
 (' "SSN"', 'string'),
 ('        "Test1"', 'string'),
 (' "Test2"', 'double'),
 (' "Test3"', 'double'),
 (' "Test4"', 'double'),
 (' "Final"', 'string'),
 (' "Grade"', 'string')]

In [33]:
df_spark.describe().show()

+-------+---------+-------------+--------------------+-----------------+-----------------+------------------+-----------------+------------------+--------+
|summary|Last name| "First name"|               "SSN"|          "Test1"|          "Test2"|           "Test3"|          "Test4"|           "Final"| "Grade"|
+-------+---------+-------------+--------------------+-----------------+-----------------+------------------+-----------------+------------------+--------+
|  count|       16|           16|                  16|               16|               16|                16|               16|                16|      15|
|   mean|     null|         null|                null|43.06666666666667|           36.625|             61.75|            59.25|              51.0|    null|
| stddev|     null|         null|                null|4.667006790326364|41.46303574671461|35.768701402203575|32.08841951026361|22.367067628227762|    null|
|    min|  Airpump|        "Bif"|        "087-75-4...|             30.0|              1.0|              -1.0|             -1.0|               4.0|    "A+"|
|    max|   Rubble|     "Harvey"|       "123-12-1234"|             50.0|             97.0|             100.0|             97.0|               "A"|     "F"|
+-------+---------+-------------+--------------------+-----------------+-----------------+------------------+-----------------+------------------+--------+

In [40]:
# adding colunm to my dataframe

df_spark = df_spark.withColumn('modifiing the last name ',df_spark['Last name']+"2")

In [41]:
df_spark.show()

+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+------------------------+
|Last name|    "First name"|               "SSN"|        "Test1"| "Test2"| "Test3"| "Test4"| "Final"| "Grade"|modifiing the last name |
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+------------------------+
|  Alfalfa|      "Aloysius"|       "123-45-6789"|           40.0|    90.0|   100.0|    83.0|    49.0|    "D-"|                    null|
|   Alfred|    "University"|       "123-12-1234"|           41.0|    97.0|    96.0|    97.0|    48.0|    "D+"|                    null|
|    Gerty|        "Gramma"|       "567-89-0123"|           41.0|    80.0|    60.0|    40.0|    44.0|     "C"|                    null|
|  Android|      "Electric"|       "087-65-4321"|           42.0|    23.0|    36.0|    45.0|    47.0|    "B-"|                    null|
|  Bumpkin|          "Fred"|       "456-78-9012"|           43.0|    78.0|    88.0|    77.0|    45.0|    "A-"|                    null|
|   Rubble|         "Betty"|       "234-56-7890"|           44.0|    90.0|    80.0|    90.0|    46.0|    "C-"|                    null|
|   Noshow|         "Cecil"|       "345-67-8901"|           45.0|    11.0|    -1.0|     4.0|    43.0|     "F"|                    null|
|     Buff|           "Bif"|        "632-79-9...|           46.0|    20.0|    30.0|    40.0|    50.0|    "B+"|                    null|
|  Airpump|        "Andrew"|       "223-45-6789"|  49.0      1.0|    90.0|   100.0|    83.0|     "A"|    null|                    null|
|   Backus|           "Jim"|        "143-12-1...|           48.0|     1.0|    97.0|    96.0|    97.0|    "A+"|                    null|
|Carnivore|           "Art"|        "565-89-0...|           44.0|     1.0|    80.0|    60.0|    40.0|    "D+"|                    null|
|    Dandy|           "Jim"|        "087-75-4...|           47.0|     1.0|    23.0|    36.0|    45.0|    "C+"|                    null|
| Elephant|           "Ima"|        "456-71-9...|           45.0|     1.0|    78.0|    88.0|    77.0|    "B-"|                    null|
| Franklin|         "Benny"|       "234-56-2890"|           50.0|     1.0|    90.0|    80.0|    90.0|    "B-"|                    null|
|   George|           "Boy"|        "345-67-3...|           40.0|     1.0|    11.0|    -1.0|     4.0|     "B"|                    null|
|Heffalump|        "Harvey"|       "632-79-9439"|           30.0|     1.0|    20.0|    30.0|    40.0|     "C"|                    null|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+------------------------+

In [42]:
# drop the Colunms


df_spark = df_spark.drop('modifiing the last name ')

In [43]:
df_spark.show()

+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+
|Last name|    "First name"|               "SSN"|        "Test1"| "Test2"| "Test3"| "Test4"| "Final"| "Grade"|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+
|  Alfalfa|      "Aloysius"|       "123-45-6789"|           40.0|    90.0|   100.0|    83.0|    49.0|    "D-"|
|   Alfred|    "University"|       "123-12-1234"|           41.0|    97.0|    96.0|    97.0|    48.0|    "D+"|
|    Gerty|        "Gramma"|       "567-89-0123"|           41.0|    80.0|    60.0|    40.0|    44.0|     "C"|
|  Android|      "Electric"|       "087-65-4321"|           42.0|    23.0|    36.0|    45.0|    47.0|    "B-"|
|  Bumpkin|          "Fred"|       "456-78-9012"|           43.0|    78.0|    88.0|    77.0|    45.0|    "A-"|
|   Rubble|         "Betty"|       "234-56-7890"|           44.0|    90.0|    80.0|    90.0|    46.0|    "C-"|
|   Noshow|         "Cecil"|       "345-67-8901"|           45.0|    11.0|    -1.0|     4.0|    43.0|     "F"|
|     Buff|           "Bif"|        "632-79-9...|           46.0|    20.0|    30.0|    40.0|    50.0|    "B+"|
|  Airpump|        "Andrew"|       "223-45-6789"|  49.0      1.0|    90.0|   100.0|    83.0|     "A"|    null|
|   Backus|           "Jim"|        "143-12-1...|           48.0|     1.0|    97.0|    96.0|    97.0|    "A+"|
|Carnivore|           "Art"|        "565-89-0...|           44.0|     1.0|    80.0|    60.0|    40.0|    "D+"|
|    Dandy|           "Jim"|        "087-75-4...|           47.0|     1.0|    23.0|    36.0|    45.0|    "C+"|
| Elephant|           "Ima"|        "456-71-9...|           45.0|     1.0|    78.0|    88.0|    77.0|    "B-"|
| Franklin|         "Benny"|       "234-56-2890"|           50.0|     1.0|    90.0|    80.0|    90.0|    "B-"|
|   George|           "Boy"|        "345-67-3...|           40.0|     1.0|    11.0|    -1.0|     4.0|     "B"|
|Heffalump|        "Harvey"|       "632-79-9439"|           30.0|     1.0|    20.0|    30.0|    40.0|     "C"|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+

In [44]:
# Renaming the Column

df_spark = df_spark.withColumnRenamed('Last name','last')

In [45]:
df_spark.show()

+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+
|     last|    "First name"|               "SSN"|        "Test1"| "Test2"| "Test3"| "Test4"| "Final"| "Grade"|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+
|  Alfalfa|      "Aloysius"|       "123-45-6789"|           40.0|    90.0|   100.0|    83.0|    49.0|    "D-"|
|   Alfred|    "University"|       "123-12-1234"|           41.0|    97.0|    96.0|    97.0|    48.0|    "D+"|
|    Gerty|        "Gramma"|       "567-89-0123"|           41.0|    80.0|    60.0|    40.0|    44.0|     "C"|
|  Android|      "Electric"|       "087-65-4321"|           42.0|    23.0|    36.0|    45.0|    47.0|    "B-"|
|  Bumpkin|          "Fred"|       "456-78-9012"|           43.0|    78.0|    88.0|    77.0|    45.0|    "A-"|
|   Rubble|         "Betty"|       "234-56-7890"|           44.0|    90.0|    80.0|    90.0|    46.0|    "C-"|
|   Noshow|         "Cecil"|       "345-67-8901"|           45.0|    11.0|    -1.0|     4.0|    43.0|     "F"|
|     Buff|           "Bif"|        "632-79-9...|           46.0|    20.0|    30.0|    40.0|    50.0|    "B+"|
|  Airpump|        "Andrew"|       "223-45-6789"|  49.0      1.0|    90.0|   100.0|    83.0|     "A"|    null|
|   Backus|           "Jim"|        "143-12-1...|           48.0|     1.0|    97.0|    96.0|    97.0|    "A+"|
|Carnivore|           "Art"|        "565-89-0...|           44.0|     1.0|    80.0|    60.0|    40.0|    "D+"|
|    Dandy|           "Jim"|        "087-75-4...|           47.0|     1.0|    23.0|    36.0|    45.0|    "C+"|
| Elephant|           "Ima"|        "456-71-9...|           45.0|     1.0|    78.0|    88.0|    77.0|    "B-"|
| Franklin|         "Benny"|       "234-56-2890"|           50.0|     1.0|    90.0|    80.0|    90.0|    "B-"|
|   George|           "Boy"|        "345-67-3...|           40.0|     1.0|    11.0|    -1.0|     4.0|     "B"|
|Heffalump|        "Harvey"|       "632-79-9439"|           30.0|     1.0|    20.0|    30.0|    40.0|     "C"|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+

In [96]:
# Handling the null value or missing values


df = spark.read.csv('updated_grades.csv',header = True , inferSchema=True)

In [97]:
df.show()

+---------+--------------------+--------------------+--------------+-----+-----+-----+-----+-----+
|Last name|          First name|                 SSN|         Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+--------------------+--------------+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|"   ""123-45-6789"""|            40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|  " ""123-12-1234"""|            41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|"     ""567-89-01...|            41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|"   ""087-65-4321"""|            42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|"       ""456-78-...|            43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|"      ""234-56-7...|            44|   90|   80|   90|   46|    C|
|   Noshow|     "    ""Cecil"""|"      ""345-67-8...|            45|   11| null|    4|   43|    F|
|     Buff|     "      ""Bif"""|"        ""632-79...|            46|   20|   30|   40|   50|    B|
|  Airpump|     "   ""Andrew"""|"     ""223-45-67...| 49.0      1.0|   90|  100|   83| null|    A|
|   Backus|       "    ""Jim"""|"        ""143-12...|            48| null|   97|   96|   97|    A|
|Carnivore|          " ""Art"""|"        ""565-89...|            44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|"        ""087-75...|            47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|"        ""456-71...|            45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|"      ""234-56-2...|            50|    1|   90|   80|   90|    B|
|   George|       "    ""Boy"""|"        ""345-67...|          null|    1|   11| null|    4|    A|
|Heffalump|       " ""Harvey"""|"     ""632-79-94...|            30|    1|   20|   30|   40|    C|
+---------+--------------------+--------------------+--------------+-----+-----+-----+-----+-----+

In [98]:
df.printSchema()

root
 |-- Last name: string (nullable = true)
 |-- First name: string (nullable = true)
 |-- SSN: string (nullable = true)
 |-- Test1: string (nullable = true)
 |-- Test2: integer (nullable = true)
 |-- Test3: integer (nullable = true)
 |-- Test4: integer (nullable = true)
 |-- Final: integer (nullable = true)
 |-- Grade: string (nullable = true)

In [99]:
df.dtypes

[('Last name', 'string'),
 ('First name', 'string'),
 ('SSN', 'string'),
 ('Test1', 'string'),
 ('Test2', 'int'),
 ('Test3', 'int'),
 ('Test4', 'int'),
 ('Final', 'int'),
 ('Grade', 'string')]

In [100]:
df.describe().show()

+-------+---------+---------------+--------------------+------------------+-----------------+-----------------+------------------+------------------+-----+
|summary|Last name|     First name|                 SSN|             Test1|            Test2|            Test3|             Test4|             Final|Grade|
+-------+---------+---------------+--------------------+------------------+-----------------+-----------------+------------------+------------------+-----+
|  count|       16|             16|                  16|                15|               15|               15|                15|                15|   16|
|   mean|     null|           null|                null|43.285714285714285|             39.0|65.93333333333334|63.266666666666666|              51.0| null|
| stddev|     null|           null|                null| 4.762490806428783|41.77661683628432|32.72278949571617|28.751314669734583|22.367067628227762| null|
|    min|  Airpump|"      ""Bif"""|"        ""087-75...|     49.0      1.0|                1|               11|                 4|                 4|    A|
|    max|   Rubble|  " ""Harvey"""|  " ""123-12-1234"""|                50|               97|              100|                97|                97|    F|
+-------+---------+---------------+--------------------+------------------+-----------------+-----------------+------------------+------------------+-----+

In [101]:
df.show()

+---------+--------------------+--------------------+--------------+-----+-----+-----+-----+-----+
|Last name|          First name|                 SSN|         Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+--------------------+--------------+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|"   ""123-45-6789"""|            40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|  " ""123-12-1234"""|            41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|"     ""567-89-01...|            41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|"   ""087-65-4321"""|            42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|"       ""456-78-...|            43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|"      ""234-56-7...|            44|   90|   80|   90|   46|    C|
|   Noshow|     "    ""Cecil"""|"      ""345-67-8...|            45|   11| null|    4|   43|    F|
|     Buff|     "      ""Bif"""|"        ""632-79...|            46|   20|   30|   40|   50|    B|
|  Airpump|     "   ""Andrew"""|"     ""223-45-67...| 49.0      1.0|   90|  100|   83| null|    A|
|   Backus|       "    ""Jim"""|"        ""143-12...|            48| null|   97|   96|   97|    A|
|Carnivore|          " ""Art"""|"        ""565-89...|            44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|"        ""087-75...|            47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|"        ""456-71...|            45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|"      ""234-56-2...|            50|    1|   90|   80|   90|    B|
|   George|       "    ""Boy"""|"        ""345-67...|          null|    1|   11| null|    4|    A|
|Heffalump|       " ""Harvey"""|"     ""632-79-94...|            30|    1|   20|   30|   40|    C|
+---------+--------------------+--------------------+--------------+-----+-----+-----+-----+-----+

In [102]:
#droping the ssn colunm from the dataset 

df = df.drop('SSN')

In [103]:
df.show()

+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|Last name|          First name|         Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|            40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|            41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|            41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|            42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|            43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|            44|   90|   80|   90|   46|    C|
|   Noshow|     "    ""Cecil"""|            45|   11| null|    4|   43|    F|
|     Buff|     "      ""Bif"""|            46|   20|   30|   40|   50|    B|
|  Airpump|     "   ""Andrew"""| 49.0      1.0|   90|  100|   83| null|    A|
|   Backus|       "    ""Jim"""|            48| null|   97|   96|   97|    A|
|Carnivore|          " ""Art"""|            44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|            47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|            45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|            50|    1|   90|   80|   90|    B|
|   George|       "    ""Boy"""|          null|    1|   11| null|    4|    A|
|Heffalump|       " ""Harvey"""|            30|    1|   20|   30|   40|    C|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+

In [104]:
# droping the row which is having the single null value or more 
df.na.drop().show()

+---------+--------------------+-----+-----+-----+-----+-----+-----+
|Last name|          First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+-----+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|   40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|   41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|   41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|   42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|   43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|   44|   90|   80|   90|   46|    C|
|     Buff|     "      ""Bif"""|   46|   20|   30|   40|   50|    B|
|Carnivore|          " ""Art"""|   44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|   47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|   45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|   50|    1|   90|   80|   90|    B|
|Heffalump|       " ""Harvey"""|   30|    1|   20|   30|   40|    C|
+---------+--------------------+-----+-----+-----+-----+-----+-----+

In [105]:
# another method to dropping the null value 

df.na.drop(how='any').show()

+---------+--------------------+-----+-----+-----+-----+-----+-----+
|Last name|          First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+-----+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|   40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|   41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|   41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|   42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|   43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|   44|   90|   80|   90|   46|    C|
|     Buff|     "      ""Bif"""|   46|   20|   30|   40|   50|    B|
|Carnivore|          " ""Art"""|   44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|   47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|   45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|   50|    1|   90|   80|   90|    B|
|Heffalump|       " ""Harvey"""|   30|    1|   20|   30|   40|    C|
+---------+--------------------+-----+-----+-----+-----+-----+-----+

In [106]:
df.show()

+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|Last name|          First name|         Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|            40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|            41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|            41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|            42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|            43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|            44|   90|   80|   90|   46|    C|
|   Noshow|     "    ""Cecil"""|            45|   11| null|    4|   43|    F|
|     Buff|     "      ""Bif"""|            46|   20|   30|   40|   50|    B|
|  Airpump|     "   ""Andrew"""| 49.0      1.0|   90|  100|   83| null|    A|
|   Backus|       "    ""Jim"""|            48| null|   97|   96|   97|    A|
|Carnivore|          " ""Art"""|            44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|            47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|            45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|            50|    1|   90|   80|   90|    B|
|   George|       "    ""Boy"""|          null|    1|   11| null|    4|    A|
|Heffalump|       " ""Harvey"""|            30|    1|   20|   30|   40|    C|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+

In [107]:
# using the threshold argument 

df.na.drop(how='any',thresh=4).show()

+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|Last name|          First name|         Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|            40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|            41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|            41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|            42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|            43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|            44|   90|   80|   90|   46|    C|
|   Noshow|     "    ""Cecil"""|            45|   11| null|    4|   43|    F|
|     Buff|     "      ""Bif"""|            46|   20|   30|   40|   50|    B|
|  Airpump|     "   ""Andrew"""| 49.0      1.0|   90|  100|   83| null|    A|
|   Backus|       "    ""Jim"""|            48| null|   97|   96|   97|    A|
|Carnivore|          " ""Art"""|            44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|            47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|            45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|            50|    1|   90|   80|   90|    B|
|   George|       "    ""Boy"""|          null|    1|   11| null|    4|    A|
|Heffalump|       " ""Harvey"""|            30|    1|   20|   30|   40|    C|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+

In [108]:
df.show()

+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|Last name|          First name|         Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|            40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|            41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|            41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|            42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|            43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|            44|   90|   80|   90|   46|    C|
|   Noshow|     "    ""Cecil"""|            45|   11| null|    4|   43|    F|
|     Buff|     "      ""Bif"""|            46|   20|   30|   40|   50|    B|
|  Airpump|     "   ""Andrew"""| 49.0      1.0|   90|  100|   83| null|    A|
|   Backus|       "    ""Jim"""|            48| null|   97|   96|   97|    A|
|Carnivore|          " ""Art"""|            44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|            47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|            45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|            50|    1|   90|   80|   90|    B|
|   George|       "    ""Boy"""|          null|    1|   11| null|    4|    A|
|Heffalump|       " ""Harvey"""|            30|    1|   20|   30|   40|    C|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+

In [109]:
# using subset argument 

df.na.drop(how='any',subset = ['Test2']).show()

+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|Last name|          First name|         Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|            40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|            41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|            41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|            42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|            43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|            44|   90|   80|   90|   46|    C|
|   Noshow|     "    ""Cecil"""|            45|   11| null|    4|   43|    F|
|     Buff|     "      ""Bif"""|            46|   20|   30|   40|   50|    B|
|  Airpump|     "   ""Andrew"""| 49.0      1.0|   90|  100|   83| null|    A|
|Carnivore|          " ""Art"""|            44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|            47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|            45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|            50|    1|   90|   80|   90|    B|
|   George|       "    ""Boy"""|          null|    1|   11| null|    4|    A|
|Heffalump|       " ""Harvey"""|            30|    1|   20|   30|   40|    C|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+

In [110]:
## Filling the missing values

x = df.na.fill('Missing Values', ['Test3'])

In [111]:
x.show()

+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|Last name|          First name|         Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|            40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|            41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|            41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|            42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|            43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|            44|   90|   80|   90|   46|    C|
|   Noshow|     "    ""Cecil"""|            45|   11| null|    4|   43|    F|
|     Buff|     "      ""Bif"""|            46|   20|   30|   40|   50|    B|
|  Airpump|     "   ""Andrew"""| 49.0      1.0|   90|  100|   83| null|    A|
|   Backus|       "    ""Jim"""|            48| null|   97|   96|   97|    A|
|Carnivore|          " ""Art"""|            44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|            47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|            45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|            50|    1|   90|   80|   90|    B|
|   George|       "    ""Boy"""|          null|    1|   11| null|    4|    A|
|Heffalump|       " ""Harvey"""|            30|    1|   20|   30|   40|    C|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+

In [112]:
from pyspark.ml.feature import Imputer

In [113]:
impute = Imputer(inputCols = ['Test2','Test3','Test4'],
                 outputCols = ['{}_imputed'.format(c) for c in ['Test2','Test3','Test4']]).setStrategy('median')

In [114]:
# adding the imputation cols to df
x = impute.fit(df).transform(df)

In [115]:
x.show()

+---------+--------------------+--------------+-----+-----+-----+-----+-----+-------------+-------------+-------------+
|Last name|          First name|         Test1|Test2|Test3|Test4|Final|Grade|Test2_imputed|Test3_imputed|Test4_imputed|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+-------------+-------------+-------------+
|  Alfalfa|   "   ""Aloysius"""|            40|   90|  100|   83|   49|    D|           90|          100|           83|
|   Alfred|"    ""University"""|            41|   97|   96|   97|   48|    D|           97|           96|           97|
|    Gerty|   "     ""Gramma"""|            41|   80|   60|   40|   44|    C|           80|           60|           40|
|  Android|   "   ""Electric"""|            42|   23|   36|   45|   47|    B|           23|           36|           45|
|  Bumpkin|       "   ""Fred"""|            43|   78|   88|   77|   45|    A|           78|           88|           77|
|   Rubble|     "    ""Betty"""|            44|   90|   80|   90|   46|    C|           90|           80|           90|
|   Noshow|     "    ""Cecil"""|            45|   11| null|    4|   43|    F|           11|           80|            4|
|     Buff|     "      ""Bif"""|            46|   20|   30|   40|   50|    B|           20|           30|           40|
|  Airpump|     "   ""Andrew"""| 49.0      1.0|   90|  100|   83| null|    A|           90|          100|           83|
|   Backus|       "    ""Jim"""|            48| null|   97|   96|   97|    A|           20|           97|           96|
|Carnivore|          " ""Art"""|            44|    1|   80|   60|   40|    D|            1|           80|           60|
|    Dandy|      "     ""Jim"""|            47|    1|   23|   36|   45|    C|            1|           23|           36|
| Elephant|         "  ""Ima"""|            45|    1|   78|   88|   77|    B|            1|           78|           88|
| Franklin|       "  ""Benny"""|            50|    1|   90|   80|   90|    B|            1|           90|           80|
|   George|       "    ""Boy"""|          null|    1|   11| null|    4|    A|            1|           11|           77|
|Heffalump|       " ""Harvey"""|            30|    1|   20|   30|   40|    C|            1|           20|           30|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+-------------+-------------+-------------+

In [116]:
df.printSchema()

root
 |-- Last name: string (nullable = true)
 |-- First name: string (nullable = true)
 |-- Test1: string (nullable = true)
 |-- Test2: integer (nullable = true)
 |-- Test3: integer (nullable = true)
 |-- Test4: integer (nullable = true)
 |-- Final: integer (nullable = true)
 |-- Grade: string (nullable = true)

In [117]:
df.show()

+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|Last name|          First name|         Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|            40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|            41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|            41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|            42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|            43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|            44|   90|   80|   90|   46|    C|
|   Noshow|     "    ""Cecil"""|            45|   11| null|    4|   43|    F|
|     Buff|     "      ""Bif"""|            46|   20|   30|   40|   50|    B|
|  Airpump|     "   ""Andrew"""| 49.0      1.0|   90|  100|   83| null|    A|
|   Backus|       "    ""Jim"""|            48| null|   97|   96|   97|    A|
|Carnivore|          " ""Art"""|            44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|            47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|            45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|            50|    1|   90|   80|   90|    B|
|   George|       "    ""Boy"""|          null|    1|   11| null|    4|    A|
|Heffalump|       " ""Harvey"""|            30|    1|   20|   30|   40|    C|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+

In [118]:
df.show()

+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|Last name|          First name|         Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|            40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|            41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|            41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|            42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|            43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|            44|   90|   80|   90|   46|    C|
|   Noshow|     "    ""Cecil"""|            45|   11| null|    4|   43|    F|
|     Buff|     "      ""Bif"""|            46|   20|   30|   40|   50|    B|
|  Airpump|     "   ""Andrew"""| 49.0      1.0|   90|  100|   83| null|    A|
|   Backus|       "    ""Jim"""|            48| null|   97|   96|   97|    A|
|Carnivore|          " ""Art"""|            44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|            47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|            45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|            50|    1|   90|   80|   90|    B|
|   George|       "    ""Boy"""|          null|    1|   11| null|    4|    A|
|Heffalump|       " ""Harvey"""|            30|    1|   20|   30|   40|    C|
+---------+--------------------+--------------+-----+-----+-----+-----+-----+

In [119]:
df = df.na.drop()

In [120]:
df.show()

+---------+--------------------+-----+-----+-----+-----+-----+-----+
|Last name|          First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+-----+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|   40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|   41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|   41|   80|   60|   40|   44|    C|
|  Android|   "   ""Electric"""|   42|   23|   36|   45|   47|    B|
|  Bumpkin|       "   ""Fred"""|   43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|   44|   90|   80|   90|   46|    C|
|     Buff|     "      ""Bif"""|   46|   20|   30|   40|   50|    B|
|Carnivore|          " ""Art"""|   44|    1|   80|   60|   40|    D|
|    Dandy|      "     ""Jim"""|   47|    1|   23|   36|   45|    C|
| Elephant|         "  ""Ima"""|   45|    1|   78|   88|   77|    B|
| Franklin|       "  ""Benny"""|   50|    1|   90|   80|   90|    B|
|Heffalump|       " ""Harvey"""|   30|    1|   20|   30|   40|    C|
+---------+--------------------+-----+-----+-----+-----+-----+-----+

In [121]:
# filter operation 
df.filter('Final>=50').show()

+---------+---------------+-----+-----+-----+-----+-----+-----+
|Last name|     First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+---------------+-----+-----+-----+-----+-----+-----+
|     Buff|"      ""Bif"""|   46|   20|   30|   40|   50|    B|
| Elephant|    "  ""Ima"""|   45|    1|   78|   88|   77|    B|
| Franklin|  "  ""Benny"""|   50|    1|   90|   80|   90|    B|
+---------+---------------+-----+-----+-----+-----+-----+-----+

In [122]:
# only select the specific colunms

df.filter(df['Final']>=50).select(['Last name',"Final"])

DataFrame[Last name: string, Final: int]

In [123]:
# and ,or, not, equal to 

df.filter((df['Test2']<=50) & (df['Test4']<=50)).show()

+---------+-----------------+-----+-----+-----+-----+-----+-----+
|Last name|       First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+-----------------+-----+-----+-----+-----+-----+-----+
|  Android|"   ""Electric"""|   42|   23|   36|   45|   47|    B|
|     Buff|  "      ""Bif"""|   46|   20|   30|   40|   50|    B|
|    Dandy|   "     ""Jim"""|   47|    1|   23|   36|   45|    C|
|Heffalump|    " ""Harvey"""|   30|    1|   20|   30|   40|    C|
+---------+-----------------+-----+-----+-----+-----+-----+-----+

In [124]:
df.filter((df['Test2']<=50) | (df['Test4']<=50)).show()

+---------+-----------------+-----+-----+-----+-----+-----+-----+
|Last name|       First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+-----------------+-----+-----+-----+-----+-----+-----+
|    Gerty|"     ""Gramma"""|   41|   80|   60|   40|   44|    C|
|  Android|"   ""Electric"""|   42|   23|   36|   45|   47|    B|
|     Buff|  "      ""Bif"""|   46|   20|   30|   40|   50|    B|
|Carnivore|       " ""Art"""|   44|    1|   80|   60|   40|    D|
|    Dandy|   "     ""Jim"""|   47|    1|   23|   36|   45|    C|
| Elephant|      "  ""Ima"""|   45|    1|   78|   88|   77|    B|
| Franklin|    "  ""Benny"""|   50|    1|   90|   80|   90|    B|
|Heffalump|    " ""Harvey"""|   30|    1|   20|   30|   40|    C|
+---------+-----------------+-----+-----+-----+-----+-----+-----+

In [125]:
df.filter(~(df['Test2']<=50)).show()

+---------+--------------------+-----+-----+-----+-----+-----+-----+
|Last name|          First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+-----+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|   40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|   41|   97|   96|   97|   48|    D|
|    Gerty|   "     ""Gramma"""|   41|   80|   60|   40|   44|    C|
|  Bumpkin|       "   ""Fred"""|   43|   78|   88|   77|   45|    A|
|   Rubble|     "    ""Betty"""|   44|   90|   80|   90|   46|    C|
+---------+--------------------+-----+-----+-----+-----+-----+-----+

In [ ]:
dir(df)

In [127]:
df.where (df['Final']==50).show()

+---------+---------------+-----+-----+-----+-----+-----+-----+
|Last name|     First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+---------------+-----+-----+-----+-----+-----+-----+
|     Buff|"      ""Bif"""|   46|   20|   30|   40|   50|    B|
+---------+---------------+-----+-----+-----+-----+-----+-----+

In [135]:
# specific number or filter with single list 

l = [50,60,70,80,90]
df.filter(df.Final.isin(l)).show()

+---------+---------------+-----+-----+-----+-----+-----+-----+
|Last name|     First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+---------------+-----+-----+-----+-----+-----+-----+
|     Buff|"      ""Bif"""|   46|   20|   30|   40|   50|    B|
| Franklin|  "  ""Benny"""|   50|    1|   90|   80|   90|    B|
+---------+---------------+-----+-----+-----+-----+-----+-----+

In [136]:
# filter with the multiple number 
l = [50,60,70,80,90]
g = ['A',"B"]
df.filter(df.Final.isin(l) | df.Grade.isin(g)).show()

+---------+-----------------+-----+-----+-----+-----+-----+-----+
|Last name|       First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+-----------------+-----+-----+-----+-----+-----+-----+
|  Android|"   ""Electric"""|   42|   23|   36|   45|   47|    B|
|  Bumpkin|    "   ""Fred"""|   43|   78|   88|   77|   45|    A|
|     Buff|  "      ""Bif"""|   46|   20|   30|   40|   50|    B|
| Elephant|      "  ""Ima"""|   45|    1|   78|   88|   77|    B|
| Franklin|    "  ""Benny"""|   50|    1|   90|   80|   90|    B|
+---------+-----------------+-----+-----+-----+-----+-----+-----+

In [142]:
# Startwith and Endwith

df.filter(df['Last name'].startswith('A')).show()


df.filter(df['Last name'].endswith('d')).show()

+---------+--------------------+-----+-----+-----+-----+-----+-----+
|Last name|          First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+-----+-----+-----+-----+-----+-----+
|  Alfalfa|   "   ""Aloysius"""|   40|   90|  100|   83|   49|    D|
|   Alfred|"    ""University"""|   41|   97|   96|   97|   48|    D|
|  Android|   "   ""Electric"""|   42|   23|   36|   45|   47|    B|
+---------+--------------------+-----+-----+-----+-----+-----+-----+

+---------+--------------------+-----+-----+-----+-----+-----+-----+
|Last name|          First name|Test1|Test2|Test3|Test4|Final|Grade|
+---------+--------------------+-----+-----+-----+-----+-----+-----+
|   Alfred|"    ""University"""|   41|   97|   96|   97|   48|    D|
|  Android|   "   ""Electric"""|   42|   23|   36|   45|   47|    B|
+---------+--------------------+-----+-----+-----+-----+-----+-----+

### Pyspark Groupby and Aggregate function

In [143]:
spark = SparkSession.builder.appName('Aggregation').getOrCreate()

In [144]:
df = spark.read.csv('Book.csv',header= True , inferSchema=True)

In [145]:
df.show()

+---------+------------+------+
|     name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [148]:
# Groupby name

df.groupby('name').sum().show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [149]:
# Groupby Departments
df.groupby('Departments').max().show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [150]:
# groupby average salary of individual (mean and avg are same)

df.groupby('name').mean().show()

+---------+------------------+
|     name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [151]:
df.groupby('Departments').min().show()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+

In [154]:
# another way to use aggregation in pyspark 
df.agg({'salary':'avg'}).show()

+-----------+
|avg(salary)|
+-----------+
|     7300.0|
+-----------+

In [163]:
# Creating Dataframe 

#Preparing the data

data= [('James',"Sales",3000),\
       ('Michael',"Sales", 4600),\
       ("Robert","Sales", 4100),\
       ("Maria","Finance",3000),\
       ("James","Sales",3000),\
       ("Scott","Finance",3900),\
       ("Jen","Finance",3900),\
       ("Jeff","Marketing",3000),\
       ('Kumar',"Marketing",2000),\
       ("Saif","Sales",4100)]

columns=['Employee_Name','Department',"Salary"]

dataframe = spark.createDataFrame(data=data,schema=columns)
df  = spark.createDataFrame(data=data,schema=columns)

In [156]:
dataframe.show()

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3900|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [157]:
dataframe.show(truncate= False) # truncate is used for the not showing if the entries having 20 char

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [158]:
# only for the name column
dataframe.dropDuplicates().show()

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|      Michael|     Sales|  4600|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|         Saif|     Sales|  4100|
|        Scott|   Finance|  3900|
+-------------+----------+------+

In [160]:
# only for salary colunm
dataframe.dropDuplicates(['salary']).show()

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|        Kumar| Marketing|  2000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3900|
|       Robert|     Sales|  4100|
|      Michael|     Sales|  4600|
+-------------+----------+------+

In [162]:
#using list 
dataframe.dropDuplicates(['salary','Department']).show()

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|        Kumar| Marketing|  2000|
|        Maria|   Finance|  3000|
|         Jeff| Marketing|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3900|
|       Robert|     Sales|  4100|
|      Michael|     Sales|  4600|
+-------------+----------+------+

### Union operation in pyspark

In [165]:
# merging two dataframe
dataframe.union(df).show()

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3900|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3900|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [167]:
# merging two dataframe with disticnt rows

dataframe.union(df).distinct().show()

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|      Michael|     Sales|  4600|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|         Saif|     Sales|  4100|
|        Scott|   Finance|  3900|
+-------------+----------+------+

In [169]:
# mering two dataframe with distinct 
dataframe.union(df).distinct().count()

9

### changing pandas dataframe to pyspark dataframe

In [171]:
pandasDF = dataframe.toPandas()

In [172]:
print(type(dataframe),type(pandasDF))

<class 'pyspark.sql.dataframe.DataFrame'> <class 'pandas.core.frame.DataFrame'>